.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #ee6e73 !important; /* Bootstrap's default primary color */
}

/* style.css*/

body {
    background-color: rgb(20, 40, 60);
    color: rgb(240, 248, 255);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.3em;
}

